.bookings-table {
    margin: 32px 0;
    justify-self: center;
    align-self: start;
    // background-color: white;
    border-radius: 6px;
    padding: 16px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #0E0000;
    /* background-color: transparent; */
}
.table {
    --bs-table-bg: transparent;
    --bs-table-striped-color: #0E0000;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #0E0000;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #0E0000;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #0E0000;
    vertical-align: top;
    border-color: #dee2e6;
}

.table {
    border-collapse: collapse;
}

.rocket-card {
  margin-bottom: 10px;
}

.rocket-basic-info {
  justify-content: space-evenly;
}

.rocket-capacity-price {
  justify-content: space-evenly;
}

.container.booking {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://res.cloudinary.com/dajifvnn5/image/upload/v1644420258/space_background_1_b540es.jpg");

h2 {
    color: white;
}
}

.title-text {
color: white;
}

.content-text {
color: white;
}

.my-rockets {
  margin-bottom: 25px;
}
