.container.booking {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://res.cloudinary.com/dajifvnn5/image/upload/v1644420258/space_background_1_b540es.jpg");

  h2 {
      color: white;
  }
}

.title-text {
    color: white;
}

.my-rockets {
    margin-bottom: 25px;
}
