.row.new {
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: -80px;
  }

.row.login {
  justify-content: center;
}

// .container {
//   background-color: rgb(145, 121, 165);
// }

