.container.show {
  background-color: white;
  margin-top: -40px;
}

.row {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.rocket-basic-info {
  display: flex;
}

.form-booking {
 font-size: 14px;
 border: 1px solid lightgrey;
 padding: 10px 10px 10px 10px;
}

.form-booking-font {
  font-size: 10px;
}
