<div class="footer">
  <div class="footer-links">
    <a class="foot-link" href="#"><i class="fab fa-instagram"></i></a>
    <a class="foot-link" href="#"><i class="fab fa-facebook"></i></a>
    <a class="foot-link" href="#"><i class="fab fa-twitter"></i></a>
    <a class="foot-link" href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyrights">
    <a class="footer-copyright" href="#">About us</a>
    <a class="footer-copyright" href="#">Terms</a>
    <a class="footer-copyright" href="#">Privacy</a>
  </div>
</div>
