<%# <div class="container home"> %>
  <div class="page-container">
    <main class="site_content">
      <div class="banner">
        <div class="banner_inner_content">
          <h1>{s}UBER: Book your rocket in minutes</h1>
          <p>Be on your way to your favorite Galaxy. Captain optional.</p>
          <%= link_to "Check all rockets", rockets_path, class: "btn btn-flat" %>
        </div>
      </div>

      <section class="funny">
        <div class="container">
          <div class="cards-home">
            <div class="card-home">
              <div class="card-title-home">
                <i class="fas fa-solid fa-comment-dollar home-icon-price" width="32" height="32"></i>
                <h2 class="funny__heading"> BEST PRICE ON EARTH</h2>
              </div>
              <p class="funny__text">Find the safest rockets to fly with friends or family. {s}UBER provides the unbeatable price for your unique travel experience.</p>
            </div>

            <div class="card-home">
              <div class="card-title-home">
                <i class="fas fa-solid fa-skull home-icon-alien" width="32" height="32"></i>
                <h2 class="funny__heading"> SEE SOME ALIENS</h2>
              </div>
              <p class="funny__text">Write some more funny stuff here that I can't think of now</p>
            </div>

            <div class="card-home">
              <div class="card-title-home">
                <i class="fas fa-solid fa-exclamation home-icon-danger" alt="World placeholder image" width="32" height="32"></i>
                <h2 class="funny__heading"> TRAVEL AT YOUR OWN RISK</h2>
              </div>
              <p class="funny__text"> {s}UBER won't be responsible for injury or death caused by asteroids, aliens, reckless use of wormholes and speeding beyond the speed of light</p>
            </div>
          </div>
        </div>
     </section>
    </main>
  </div>
<%# </div> %>
