
  <body class="Site">
    <main class="Site__content">
      <section class="Banner">
         <div class="Banner__inner container">
            <h1 class="Banner__heading">Book your rocket in minutes</h1>
            <p class="Banner__leading">Be on your way to your favorite Galaxy. Captain optional.</p>
          </div>
      </section>

      <section class="funny">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-3">
                <i class="fas fa-solid fa-skull home-icons" width="32" height="32"></i>
                <h2 class="funny__heading">BOOK & FLY</h2>
                <p class="funny__text">Find the best rocket to fly with friends or family</p>
            </div>

          <div class="col-sm-6 col-md-3">
            <i class="fas fa-solid fa-comment-dollar home-icons" width="32" height="32"></i>
            <h2 class="funny__heading">SEE SOME ALIENS</h2>
            <p class="funny__text">Write some more funny stuff here that I can't think of now</p>
          </div>

          <div class="col-sm-6 col-md-3">
              <i class="fas fa-solid fa-comment-dollar home-icons" width="32" height="32"></i>
              <h2 class="funny__heading">BEST PRICES ON EARTH</h2>
              <p class="funny__text"> Write some more funny stuff here that I can't think of now</p>
          </div>

          <div class="col-sm-6 col-md-3">
              <i class="fas fa-solid fa-skull home-icons" alt="World placeholder image" width="32" height="32"></i>
              <h2 class="funny__heading">TRAVEL AT YOUR OWN RISK</h2>
              <p class="funny__text"> {s}UBER won't be responsible for injury or death caused by asteroids, aliens, reckless use of wormholes and speeding beyond the speed of light</p>
          </div><

    </div>
  </div>
</section>

    </main>

    <div class="footer">
  <div class="footer-container container">
    <ul class="list-inline">
      <li><a class="footer-link" href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a class="footer-link" href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a class="footer-link" href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a class="footer-link" href="#"><i class="fab fa-linkedin"></i></a></li>
    </ul>
    <ul class="list-inline footer-copyright">
      <li><a class="footer-link" href="#">About us</a></li>
      <li><a class="footer-link" href="#">Terms</a></li>
      <li><a class="footer-link" href="#">Privacy</a></li>
    </div>
  </div>
</div>
  </body>
