<html>
	<head>
		<title>{S}UBER</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="4jyOVZZ1Wx0lBI0Lb6F2BrGIenGmhqiuheB8hV8vrHuD-IoH4p-3rjQ2tEusMZDFPzmfOEQBVfX8zZ6IGAKylg" />

		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<link rel="stylesheet" media="all" href="/assets/application-8cff5731061984556797dcc06cfbc8b69e36530bae5f4aef67f6e1b9b016142f.css" data-turbolinks-track="reload" /> <script src="/packs/js/application-40a0771bb26a97dec562.js" data-turbolinks-track="reload" defer="defer"></script>
    <link rel="stylesheet" media="screen" href="/packs/css/application-ea3de988.css" />
	</head>

	<body>
    <div class="page-container">
      <div class="navbar navbar-expand-lg navbar-light navbar-lewagon">

  <a class="navbar-brand" href="/">

    <img src="/assets/logo-6d77c9fd7e5eb0a337349b62eca5aba6eb1bf0698ca75a0644dffc02e84a6c19.svg" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        <li class="nav-item">
          <a class="nav-link" href="/starships">Our Starships</a>
    </ul>
        <a class="nav-item">
          <a class="nav-link-right" href="/users/sign_in">Login</a>
        </a>
  </div>
</div>

      <main id="main-content">
        <p class="alert"></p>
        <p class="notice"></p>
        <div id="homepage">
<canvas class="home"></canvas>


<div class="container">
  <div class="fg_logo">
    <h1>FORCE GEAR
    </h1>
  </div>

  <div class="flexbox">
    <p>Rent out Chewbacca's old cruiser and many more!</p>
  </div>
  <br>
  <br>
  <a class="search-btn" href="/starships">Find Your StarShip</a>
</div>
</div>


      </main>
      <div class="footer">

  <div class="footer-icons">
    <div class="icons">
      <h5>Made with <i class="fas fa-heart"></i> by the Rebel Alliance</h5>
         <div class="sm-links">
     	        <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram"></i>
          </div>
        </div>
    </div>

<div class="footer-links">
    <a class="footer-link" href="#">About Us</a>
    <a class="footer-link" href="#">Contact</a>
    <a class="footer-link" href="#">Career</a>
</div>
</div>

    </div>
	</body>
</html>
