<%# <div class="container home"> %>
  <div class="page-container">
    <main class="site_content">
      <div class="banner-home">
        <div class="banner_inner_content">
          <h1>{s}UBER.</h1>
          <h1>Book your rocket in minutes</h1>
          <p>Be on your way to your favorite Galaxy. Captain optional.</p>
          <%= link_to "CHECK OUR ROCKETS", rockets_path, class: "btn btn-flat" %>
        </div>
      </div>

      <div class="row">
        <div class="cards-home">
          <div class="card-home">
            <h2 class="funny__heading">Best prices in the galaxy.</h2>
          </div>
          <div class="card-home">
            <h2 class="funny__heading">See some aliens.</h2>
          </div>
          <div class="card-home">
            <h2 class="funny__heading">Travel at your own risk.</h2>
          </div>
            <div class="card-home">
            <h2 class="funny__heading">One way discounts.</h2>
          </div>
        </div>
      </div>
    </main>
  </div>
<%# </div> %>
