.banner.show {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://res.cloudinary.com/dajifvnn5/image/upload/v1644418652/rocket_background_2_sjqvnz.jpg");
    padding: 150px 0;
  }

.banner.new {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://res.cloudinary.com/dajifvnn5/image/upload/v1644418652/rocket_background_4_vdivyb.jpg");
    padding: 150px 0;
}


.banner.edit {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://res.cloudinary.com/dajifvnn5/image/upload/v1644420345/rocket_background_6_i1djog.jpg");
    padding: 150px 0;
}