.form-rocket {
    background-color: white;
    font-size: 16px;
    // border: 1px solid lightgrey;
    padding: 10px 10px 10px 10px;

    h1 {
        font-size: 20px;
        font-weight: bold;
    }
   }

.form-login {
    // background-color: white;
    height: 500px;
    width: 400px;
    font-size: 16px;
    // border: 1px solid lightgrey;
    padding: 10px 10px 10px 10px;

    h2 {
      font-size: 20px;
      font-weight: bold;
    }
}
